.App {
  height: 100vh;
  width: 100vw;

}

.number {
  color: #3498db;
  font-size: 45px;
  position: relative;
 animation-name: rotate;
 animation-duration: 1s;
 animation-iteration-count: infinite;
  transform-origin: bottom right;



}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(120deg);
  }

  17% {
    transform: translate(-50%, -50%) rotate(-20deg);
  }

  34% {
    transform: translate(-50%, -50%) rotate(10deg);
  }

  51% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  68% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  85% {
    transform: translate(-50%, -50%) rotate(20deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
}

